@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Zen+Dots&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

:root {
  --primary: #cc2626;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  position: fixed;
  z-index: 999;
}

.logo-navbar > h1,
.logo > h1 {
  font-family: "Zen Dots", sans-serif;
  color: white;
}

.logo-style {
  color: var(--primary);
  font-size: 30px;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
}
.menu-navbar {
  display: flex;
  align-items: center;
}

.hamburger-line {
  width: 22px;
  height: 4px;
  background-color: #cc2626;
  display: block;
  margin: 3px;
  border-radius: 20px;
}

#hamburger {
  display: none;
  position: absolute;
  right: 16px;
  background: none;
  border: none;
}

#hamburger > span:nth-child(1) {
  transform-origin: top right;
  transition: all 500ms ease-in-out;
}

#hamburger > span:nth-child(2) {
  transition: all 500ms ease-in-out;
}

#hamburger > span:nth-child(3) {
  transform-origin: bottom right;
  transition: all 500ms ease-in-out;
}

.hamburger-activate > span:nth-child(1) {
  transform: rotate(-45deg);
}

.hamburger-activate > span:nth-child(2) {
  transform: scale(0);
}

.hamburger-activate > span:nth-child(3) {
  transform: rotate(45deg);
}

.list-navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.list-navbar-content li {
  list-style: none;
}

.list-navbar-content li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.list-navbar-content li a:hover {
  border-bottom: 2px solid white;
}

.home-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./images/menu/konro.jpg);
  width: 100%;
  height: 100vh;
}

.content {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)
  );
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-content {
  text-align: center;
  color: white;
  padding-top: 120px;
}

.text-content > h1 {
  font-size: 70px;
  padding: 40px 0 10px 0;
  text-shadow: var(--primary) 1px 0 60px;
}

.text-content > p {
  font-size: 20px;
}

.style-content {
  color: var(--primary);
  font-family: "Zen Dots", sans-serif;
}

.button-content {
  padding: 30px 0 100px 0;
  display: flex;
  gap: 20px;
}

.button-content button {
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.button-content button:first-child {
  background-color: var(--primary);
  box-shadow: 0 2px 20px var(--primary);
}

.button-content button:last-child {
  border: 2px solid white;
  color: white;
  background: none;
}
.button-content button:first-child:hover {
  background-color: white;
  color: var(--primary);
}

.button-content button:last-child:hover {
  color: var(--primary);
  border: 2px solid var(--primary);
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 100px;
  background-color: black;
  position: relative;
}

.image-content {
  position: relative;
}

.image {
  width: 150%;
  border-radius: 20px;
  box-shadow: 10px 10px 40px var(--primary);
  position: relative;
}

.description {
  width: 120%;
  height: 60%;
  position: absolute;
  background-color: rgb(0, 0, 0);
  color: white;
  top: 250px;
  left: 120px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  gap: 20px;
  box-shadow: 1px 1px 20px var(--primary);
}

.description h2 {
  color: var(--primary);
}

.information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact,
.email,
.location {
  display: flex;
  gap: 15px;
}

.information-content {
  z-index: 10;
  padding-left: 200px;
}

.information-content h3 {
  text-transform: capitalize;
  color: var(--primary);
  font-size: 40px;
}

.information-content p {
  color: white;
  padding: 10px 0 50px 0;
}

.information-content button {
  padding: 15px 20px;
  border-radius: 30px;
  border: 2px solid var(--primary);
  background: none;
  color: white;
  font-weight: 600;
}

.information-content button:hover {
  border: 2px solid white;
  color: var(--primary);
  background-color: white;
  box-shadow: 0 2px 20px var(--primary);
}

.menu {
  background-color: black;
  width: 100%;
  padding: 70px 0;
}

.menu h2 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}

.list-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  grid-gap: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 100px;
}

.item {
  background-image: linear-gradient(
    to bottom,
    rgb(32, 28, 28),
    rgba(22, 22, 22, 0.6)
  );
  width: 280px;
  height: 450px;
  border-radius: 30px;
  transition: all 800ms ease-in-out;
  cursor: pointer;
}

.item:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 10px var(--primary);
}

.item > img {
  width: 100%;
  height: 270px;
  background-size: cover;
  background-position: center;
  border-radius: 30px 30px 0 0;
  color: white;
}

.desc-item {
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.name-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-item > h4 {
  font-size: 20px;
  color: var(--primary);
}

.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.desc-item p {
  font-size: 14px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price button {
  padding: 5px 25px;
  border-radius: 30px;
  border: 1px solid var(--primary);
  background: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.price button:hover {
  border: 1px solid white;
  color: var(--primary);
  background-color: white;
  box-shadow: 0 2px 20px var(--primary);
}

.contact-us {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us h2 {
  font-size: 30px;
  padding: 30px 0 10px 0;
}

.contact-us p {
  font-size: 20px;
  text-align: center;
}

.information-contact {
  background-color: white;
  color: black;
  width: 60%;
  padding: 60px;
  border-radius: 30px;
  margin-top: 40px;
}

.name-input,
.email-input,
.message-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name-email-input {
  display: flex;
  gap: 40px;
}

#name,
#email {
  width: 300px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid black;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#message {
  display: block;
  resize: none;
  height: 180px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid black;
  color: black;
}

::-webkit-input-placeholder {
  color: black;
}

.label {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary);
}

#name:focus,
#email:focus,
#message:focus {
  box-shadow: 1px 1px 7px var(--primary);
  border: 2px solid var(--primary);
}

form > button {
  border: none;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  box-shadow: 1px 1px 10px var(--primary);
  cursor: pointer;
}

form > button:hover {
  background-color: white;
  color: var(--primary);
}

.footer-content {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding: 150px 100px 50px 100px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  gap: 10px;
}

.footer-menu a {
  color: white;
  text-decoration: none;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon img {
  width: 20%;
}
.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.logo p:last-child {
  font-size: 12px;
}

@media screen and (max-width: 649px) {
  .text-content > h1 {
    font-size: 30px;
    padding: 40px 40px 20px 40px;
    text-shadow: var(--primary) 1px 0 60px;
  }
  .text-content > p {
    font-size: 13px;
  }

  #hamburger {
    display: block;
  }
  .list-navbar-content {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 100%;
    height: 100vh;
    width: 40%;
    background-color: #cc2626;
    visibility: hidden;
    padding: 40px 30px;
    transform: translateX(100%);
    transition: all 300ms ease-in-out;
  }

  .list-navbar-content li {
    margin-bottom: 30px;
  }

  .hidden {
    visibility: visible;
    transform: translateX(0);
  }

  .button-content button {
    padding: 5px 15px;
    font-size: 13px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    padding: 70px 50px;
  }

  .image {
    width: 100%;
  }

  .image-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .description {
    width: 100%;
    padding: 60px 30px;
    position: static;
  }

  .description h2 {
    font-size: 15px;
  }

  .contact,
  .email,
  .location {
    gap: 10px;
  }
  .information {
    font-size: 13px;
    gap: 5px;
  }

  .information-content {
    padding: 10px;
    margin-top: 20px;
  }

  .information-content h3 {
    font-size: 30px;
  }

  .information-content button {
    padding: 10px 15px;
    font-size: 15px;
  }

  .menu h2 {
    font-size: 25px;
  }

  .list-menu {
    grid-template-columns: min-content;
  }

  .contact-us h2 {
    font-size: 25px;
  }
  .contact-us p {
    font-size: 15px;
    padding: 0 90px;
    text-align: center;
  }

  .information-contact {
    width: 80%;
    padding: 40px;
  }

  .name-email-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #name,
  #email {
    width: 100%;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    padding: 150px 40px 50px 40px;
    gap: 30px;
  }

  .footer-menu {
    font-size: 15px;
  }

  .icon img {
    width: 5%;
  }
}

/*Breakpoint:768px*/
@media screen and (min-width: 650px) and (max-width: 768px) {
  .text-content > h1 {
    font-size: 45px;
    padding: 40px 40px 20px 40px;
    text-shadow: var(--primary) 1px 0 60px;
  }
  .text-content > p {
    font-size: 15px;
  }
  .navbar-menu {
    gap: 20px;
  }

  .button-content button {
    padding: 10px 25px;
    font-size: 15px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    padding: 90px 60px;
  }

  .image {
    width: 100%;
  }

  .description {
    width: 70%;
    height: 50%;
    top: 290px;
    left: 200px;
  }

  .description h2 {
    font-size: 20px;
  }

  .contact,
  .email,
  .location {
    gap: 13px;
  }
  .information {
    font-size: 13px;
    gap: 5px;
  }

  .information-content {
    padding: 10px;
    margin-top: 100px;
  }

  .information-content h3 {
    font-size: 40px;
  }

  .information-content button {
    padding: 10px 18px;
    font-size: 18px;
  }

  .list-menu {
    grid-template-columns: min-content;
  }

  .contact-us h2 {
    font-size: 25px;
  }
  .contact-us p {
    font-size: 15px;
    padding: 0 90px;
    text-align: center;
  }

  .information-contact {
    width: 80%;
    padding: 40px;
  }

  .name-email-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #name,
  #email {
    width: 100%;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    padding: 150px 40px 50px 40px;
    gap: 30px;
  }

  .footer-menu {
    font-size: 15px;
  }

  .icon img {
    width: 8%;
  }
}

/*Breakpoint:768px*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .text-content > h1 {
    font-size: 45px;
    padding: 40px 40px 20px 40px;
    text-shadow: var(--primary) 1px 0 60px;
  }
  .text-content > p {
    font-size: 15px;
  }

  .button-content button {
    padding: 10px 25px;
    font-size: 15px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .description {
    width: 60%;
    height: 50%;
    top: 320px;
    left: 300px;
  }

  .description h2 {
    font-size: 20px;
  }

  .contact,
  .email,
  .location {
    gap: 13px;
  }
  .information {
    font-size: 13px;
    gap: 5px;
  }

  .information-content {
    padding: 10px;
    margin-top: 100px;
  }

  .information-content h3 {
    font-size: 40px;
  }

  .information-content button {
    padding: 10px 18px;
    font-size: 18px;
  }

  .list-menu {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-us h2 {
    font-size: 25px;
  }
  .contact-us p {
    font-size: 15px;
    padding: 0 90px;
    text-align: center;
  }

  .information-contact {
    width: 80%;
    padding: 40px;
  }

  .name-email-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #name,
  #email {
    width: 100%;
  }

  .footer-content {
    display: flex;
    padding: 150px 40px 50px 40px;
    gap: 30px;
  }

  .footer-menu {
    font-size: 15px;
  }

  .icon img {
    width: 10%;
  }
}
